@using DataAccessLayer 
@model DataAccessLayer.UserAccount

@{
    ViewData["Title"] = $"Account Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Account Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-12"><a asp-controller="Account" asp-action="Edit">Edit Account</a></div>
    <div class="col-12"><a asp-controller="Account" asp-action="Logout">Log Out</a></div>
</div>

<div class="row">
    <div class="col-12">
        <h4>Account Change History</h4>
        <table class="table table-bordered">
            <tr>
                <th>Changed</th>
                <th>From</th>
                <th>To</th>
                <th>When</th>
            </tr>
            @foreach (AccountChange change in (HashSet<AccountChange>)ViewData["changes"])
            {
                <tr>
                    <td>@change.Type</td>
                    <td>@change.PreviousValue</td>
                    <td>@change.UpdatedValue</td>
                    <td>@change.Timestamp</td>
                </tr>
            }
        </table>
    </div>
</div>